@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.button{
    border:none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    color:'gray';
    padding:12px;
}

.container:hover{
    background-color: rgb(227, 235, 227);
}