@keyframes slideFromTop {
  from {
    transform: translateY(-5vh);
    opacity: 0;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Poppins;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #27368C;
  display:flex;
  align-items: center;
  justify-content: center;
}

main {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-height: 540px;
  height: 100%;
  max-width: 1100px;
  width: 100%;

}

main .display p {
  font-size: 6rem;
  font-weight: 600;
  color: #f8feff;
  animation: 1.5s scale ease-in-out;

}

.display {
  background-color: #5E76BF;
  padding: 16px;
  border-radius: 6px;
  text-align: center;
  width: 600px;
  animation: 1s slideFromTop ease-in-out;
}

button {
  border: none;
  background-color:#F263A6;
  padding: 12px;
  color: #f8feff;

  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 600px;
  outline:none;
  animation: 0.7s slideFromTop ease-in-out;
}

button:hover {
  opacity: 0.8;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;  
  animation: 1.5s opacity ease-in-out;
  cursor: pointer;
}

#names {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  font-size: 18px;
  width: 650px;
  color: #f5f5f5;
  font-weight: bold;
}

#names label {
  margin: 5px 10px;
  animation: 1.5s opacity ease-in-out;
  background: #5E76BF;
  margin-left: 0;
  height: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #f5f5f5;
  font-size: 1.2rem;
  display:flex;
  align-items: center;
}

footer strong {
  margin-left: 5px;
}

footer strong a {
  text-decoration: dashed;
  color: #F263A6;
  font-size: 1.6rem;
  transition: color 0.4s ease;
}

footer strong a:hover {
  color: #f0b3cf;
}

@media (max-width: 515px) {
  main {
    justify-content: space-between;
  }

  main .display p {
    font-size: 2rem;
    font-weight: 600;
    color: #f8feff;
  }
  
  .display {
    width: 70%;

  }

  button {
    margin: 50px;
    width: 50%;
  }

  #names {
    max-height: 380px;
    width: 316px;
    height: 500px;
    flex-direction: column;
  }

  p {
    color: black;
  }
}